{% extends 'blog.html' %}
{{ super() }}
{% block blog_body %}
<h3 class="blog-header">So you’ve decided that you want to start HRT, what now?</h3>
<p class="blog-paragraph">Firstly, congratulations on taking this step! There’s a lot of information out there on HRT
    access, and it can be overwhelming to sort through into something manageable, so hopefully this guide will make the
    process less of a headache.</p>
<p class="blog-paragraph">When it comes to options for accessing HRT there are four main paths to access, these are:</p>
<ul>
    <li>Your GP after being seen by a Gender Identity Clinic (GIC)</li>
    <li>A private gender service</li>
    <li>A shared care agreement</li>
    <li>Self medicating</li>
</ul>
<p class="blog-paragraph">The following sections will provide a high level overview of each pathway and point you
    towards some additional resources to help you reach a decision about which option is right for you.</p>
<span class="blog-section-break"></span> 
<h3 class="blog-header">Accessing HRT the NHS way</h3>
<figure><img class="blog-image-container blog-image"
        alt="Neon signs with that says “waiting, waiting, waiting, waiting…”"
        src="https://cdn-images-1.medium.com/max/1024/0*LKfyogZNjs305n80" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@levimeirclancy?utm_source=medium&amp;utm_medium=referral">Levi Meir Clancy</a>
        on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a></figcaption>
</figure>
<p class="blog-paragraph">Accessing hormones through the NHS pathway involves getting a referral to a Gender Identity
    Clinic (GIC), from your GP or self referral if your chosen GIC accepts them, going onto a waiting list for many
    years to get an initial appointment, and then several months more waiting for a second appointment, at which point
    the GIC can make a recommendation for hormones for your GP to prescribe.</p>
<p class="blog-paragraph">If you are under 18, this process is similar, however there are differences to be
    aware of, <a href="https://www.transinformed.co.uk/blogs/Healthcare-options-for-trans-youth-in-the-UK">check out
        this article for more information</a> on this process.</p>
<p class="blog-paragraph">This process is prohibitively lengthy. However it is advisable to get a referral ASAP,
    especially if surgery is part of your transition journey, as receiving gender confirming surgery for free through
    the NHS requires you to have gone through this process.</p>
<p class="blog-paragraph">Going through the GIC pathway does have the benefits of being free, and once you’ve completed
    the process, in theory you have NHS provided access to HRT in perpetuity.</p>
<p class="blog-paragraph">See current GIC waiting times at <a
        href="https://transactual.org.uk/medical-transition/gender-dysphoria-clinics/">this resource from
        TransActual</a></p>
<p class="blog-paragraph"><a
        href="https://transactual.org.uk/medical-transition/gender-dysphoria-clinics/first-appointments-at-gender-services/">This
        resource from TransActual</a> gives some information about what to expect at your first appointment.</p>
<p class="blog-paragraph">If you want to create a supporting document to take to your GP when you ask for a referral,
    check out <a href="https://www.transinformed.co.uk/generator">our document generator</a>.</p>
<span class="blog-section-break"></span>
<h3 class="blog-header">Going Private</h3>
<figure><img class="blog-image-container blog-image" alt="a person counting money"
        src="https://cdn-images-1.medium.com/max/1024/0*SQllz6LIuOxRqFHE" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@sharonmccutcheon?utm_source=medium&amp;utm_medium=referral">Sharon
            McCutcheon</a> on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a>
    </figcaption>
</figure>
<p class="blog-paragraph">Accessing HRT solely through a private service is a relatively quick process, whilst the
    specifics vary between providers, generally you pay for an appointment or two, get assessed, and then they can
    prescribe for you.</p>
<p class="blog-paragraph">Whilst choosing a <a
        href="https://transactual.org.uk/medical-transition/choosing-a-gender-service/">private gender service</a> can
    be relatively quick, it is prohibitively expensive, with costs easily running into the 1000’s, just for initial
    appointments, assessments and blood tests. The re-occurring fees can also be very expensive to have follow up
    assessments, blood tests, prescription fees and actual medication costs.</p>
<p class="blog-paragraph">Check out <a
        href="https://transactual.org.uk/medical-transition/choosing-a-gender-service/">this resource from
        TransActual</a> if you’re interested in choosing a private provider.</p>
<p class="blog-paragraph">If you are  under 18, you cannot currently access HRT from a UK private gender clinic,
    however there are options internationally, most notably <a href="https://www.gendergp.com/">GenderGP</a>. If you
    choose this route, be aware of concerning actions from NHS England regarding trans youth healthcare outlined in our
    <a href="https://www.transinformed.co.uk/blogs/Healthcare-options-for-trans-youth-in-the-UK">article for
        trans youth</a>.</p>
<span class="blog-section-break"></span> 
<h3 class="blog-header">The best of both worlds: utilising both private and GP services</h3>
<figure><img class="blog-image-container blog-image" alt="close up of a handshake"
        src="https://cdn-images-1.medium.com/max/1024/0*x3snVjjBCMUTGZJc" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@cytonn_photography?utm_source=medium&amp;utm_medium=referral">Cytonn
            Photography</a> on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a>
    </figcaption>
</figure>
<p class="blog-paragraph">A shared care agreement is when your GP agrees to work with a private gender specialist, in
    which the GP will provide a prescription for HRT, and carry out any bloodwork and administer injections as
    necessary, under the advice of the private provider who will interpret bloodwork results and provide regular reviews
    on your hormone treatment.</p>
<p class="blog-paragraph">Shared care allows you to access HRT through the NHS with two documents, a formal diagnosis of
    gender dysphoria (or similar term) and a letter of recommendation for HRT. The upfront cost is significantly cheaper
    than going purely private, and a lot faster than waiting for a GIC appointment.</p>
<p class="blog-paragraph">Unfortunately this process still carries a price tag out of the reach of many, can be
    overwhelming in complexity, and is reliant on your GP agreeing to work with a private service.</p>
<p class="blog-paragraph">Shared care is not available for those under 18. be aware of additional concerns,
    specifically “safeguarding” actions, as highlighted in our <a
        href="https://www.transinformed.co.uk/blogs/Healthcare-options-for-trans-youth-in-the-UK">article for
        trans youth</a>.</p>
<p class="blog-paragraph">To learn more about the shared care process, check out our <a
        href="https://www.transinformed.co.uk/blogs/Getting-a-shared-care-agreement-from-your-GP">guide to
        shared care</a>.</p>
<p class="blog-paragraph">To create a supporting document to take to your GP when asking for a shared care agreement,
    check out <a href="https://www.transinformed.co.uk/generator">our document generator</a>.</p>
<span class="blog-section-break"></span> 
<h3 class="blog-header">If the system is broke, do it yourself</h3>
<figure><img class="blog-image-container blog-image" alt="Some empty blood sample vials"
        src="https://cdn-images-1.medium.com/max/1024/0*QMXDvbGAkiiEVoxD" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@testalizeme?utm_source=medium&amp;utm_medium=referral">Testalize.me</a> on <a
            href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a></figcaption>
</figure>
<p class="blog-paragraph">When talking about DIY, it’s not meant that you’ll actually manufacture the medication
    yourself but rather take the sourcing into your own hands.</p>
<p class="blog-paragraph">DIY is possibly the quickest route to accessing HRT, with waiting times dependant on suppliers
    and the postal service. There’s no upfront assessments or invasive sessions with therapists, and the whole process
    can be completed from the comfort of your home.</p>
<p class="blog-paragraph">DIY does carry numerous risks, when taking your health into your own hands you should do the
    due diligence to minimize the risk as much as possible. This usually involves taking an array of blood tests, and
    thoroughly researching your chosen supplier before purchasing from them.</p>
<p class="blog-paragraph">For the ultimate guide to all things DIY, check out <a href="https://diyhrt.wiki/">The DIY HRT
        Directory</a>.</p>
<p class="blog-paragraph"><em class="blog-disclaimer">Disclaimer: Nothing within the contents of this article
        constitutes to medical advice, this is purely our interpretation of the available information. Further
        independent research is highly advised.</em></p>
<p class="blog-paragraph">Article content last updated: June 2025</p>
{% endblock %}
{% block ad %}
{{ super() }}
{% endblock %}