{% extends 'blog.html' %}
{{ super() }}
{% block blog_body %}
<p class="blog-paragraph">The process can feel a bit like navigating a mine field built of bureaucracy, but hopefully
    this guide can give you the tools to navigate it as smoothly as possible.</p>
<span class="blog-section-break"></span>
<h3 class="blog-header">What you’ll need</h3>
<figure><img class="blog-image-container blog-image" alt="some documents with a stamp resting on them"
        src="https://cdn-images-1.medium.com/max/1024/0*EEzQkK_oYwFiCzfR" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@markusspiske?utm_source=medium&amp;utm_medium=referral">Markus Spiske</a> on <a
            href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a></figcaption>
</figure>
<p class="blog-paragraph">There’s a couple of documents you’ll need to procure before your GP will be able to prescribe
    HRT, these are:</p>
<ul>
    <li>A formal diagnosis for gender dysphoria (or similar term)</li>
    <li>A letter of recommendation for HRT</li>
</ul>
<p class="blog-paragraph">These are the two documents that you would get after going through the NHS GIC pathway that
    enable a GP to prescribe, you’re just choosing to obtain these privately.</p>
<p class="blog-paragraph">You can get these letters through a private gender service, check out an overview of some
    private services at <a href="https://genderkit.org.uk/resources/gender-services/">this resource from gender
        construction kit</a>.</p>
<p class="blog-paragraph">A lot of GPs will only work with providers who are UK based and GMC registered.</p>
<p class="blog-paragraph">If you need clarification on whether a service meets this criteria, you can contact them
    directly, or using <a href="https://www.transinformed.co.uk/">our document generation service</a> by selecting the
    ‘I need a shared care agreement’ option and selecting a service from the dropdown menu.</p>
<span class="blog-section-break"></span>
<h3 class="blog-header">Talking to your GP</h3>
<figure><img class="blog-image-container blog-image" alt="A doctor in front of an ancient computer"
        src="https://cdn-images-1.medium.com/max/1024/0*2GVRHqMFwYX5ei2o" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@nci?utm_source=medium&amp;utm_medium=referral">National Cancer Institute</a>
        on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a></figcaption>
</figure>
<p class="blog-paragraph">After you’ve obtained your documents, you’re now ready to talk to your GP. Your GP may have
    little to no experience with treating transgender patients, this may result in you having to explain to your GP that
    they can in fact, prescribe to you, and you don’t need to be seen by a GIC first because you’ve obtained the same
    documents privately.</p>
<p class="blog-paragraph">We’ve made a <a href="https://www.transinformed.co.uk/">supporting document generator</a> for
    you to take to your GP visit, this will contain information tailored to you, providing a simple document that
    highlights your needs and saves you from trawling through pages and pages of legislation and guidance. If they say
    they can’t prescribe, this document will hopefully provide evidence to the contrary that you can point out to them.
</p>
<p class="blog-paragraph">Even with our supporting document, it is still a good idea to familiarize yourself with the
    relevant legislation and guidance, check out our<a href="https://www.transinformed.co.uk/sources"> data sources
        page</a> to find links to the data sources used in the creation of this document.</p>
<span class="blog-section-break"></span>
<h3 class="blog-header">What to do if your GP refuses to help</h3>
<p class="blog-paragraph">Whilst it can be very frustrating, if your GP is unwilling to help, usually your best option
    is to switch to a new practice, register with a new practice and your records will be automatically transferred
    over, at this point you can try again with your new GP.</p>
<p class="blog-paragraph">If your GP has been discriminatory or for any reason you feel a formal complaint should be
    made, the NHS provide<a href="https://www.nhs.uk/using-the-nhs/about-the-nhs/how-to-complain-to-the-nhs/"> this
        guidance on filing a complaint</a>.</p>
<em class="blog-disclaimer">Disclaimer: Nothing within the contents of this article
    constitutes to medical advice, this is purely our interpretation of the available information. Further
    independent research is highly advised.</em>
{% endblock %}
{% block ad %}
{{ super() }}
{% endblock %}