{% extends 'blog.html' %}
{{ super() }}
{% block blog_body %}
<h4 class="blog-description description-text">How an insulin pen made my subcutaneous estrogen injections so much easier
</h4>
<p class="blog-paragraph"><em class="blog-disclaimer">A huge thanks to a twitter user who has since deactivated for
        bringing this to my attention, I wish I could give proper credit but the original post is gone.</em></p>
<figure><img class="blog-image-container blog-image" alt="A woman in a field of flowers, she looks relaxed and content."
        src="https://cdn-images-1.medium.com/max/1024/0*mcK42ABHZMgIvvfs" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@erriko_tsg_photographer?utm_source=medium&amp;utm_medium=referral">Erriko
            Boccia</a> on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a>
    </figcaption>
</figure>
<h4 class="blog-subheading blog-subheading-layout">Why an insulin pen?</h4>
<p class="blog-paragraph">Insulin pens are a great delivery mechanism allowing you to precisely dial your dose in steps
    of 0.01ml, insert the needle in the injection site, push a button and voilà! the drug is precisely delivered.</p>
<p class="blog-paragraph">But how do we utilise this efficient delivery mechanism for something besides insulin, like
    HRT? Below I will outline how I personally set out to accomplish this. But first…</p>
<h4 class="blog-subheading blog-subheading-layout">Disclaimers &amp; Caveats</h4>
<p class="blog-paragraph">I am not a medical professional, I am not advising you to do anything, I am just a trans woman
    documenting my experience with injecting.</p>
<p class="blog-paragraph">Some important things to note:</p>
<ul>
    <li>Estradiol comes in different formulations (whether through DIY HRT or prescribed) which means different
        viscosities, and some more viscous solutions may struggle to get through the biggest pen needle, which is 29G.
    </li>
    <li>In sourcing the empty cartridges, I’m not getting them from a lab and as such the sterility of these cartridges
        isn’t guaranteed. It is critical that these vials are sterile, so I autoclave them before use.</li>
</ul>
<span class="blog-section-break"></span>
<h3 class="blog-header">The equipment</h3>
<h4 class="blog-subheading blog-subheading-layout">Insulin Pen</h4>
<p class="blog-paragraph">There are a few options when it comes to choosing a pen, the important thing is that they take
    standard 3ml cartridges.</p>
<p class="blog-paragraph">The other important thing to consider is the dosing precision, insulin pens give a number in
    units, these units are typically based on U-100 insulin, in which 1 unit equates to 0.01ml. Pens are typically
    available in 1 or 2 unit steps. So I choose ones that have 1 unit steps for the increased granularity.</p>
<p class="blog-paragraph">Two I’ve used that meet this criteria are the HumaPen Savvio, and the Autopen Classic (my
    preferred choice for its low force to inject)</p>
<h4 class="blog-subheading blog-subheading-layout">Needles</h4>
<p class="blog-paragraph">For the pen needles I use 29G, which is the largest available to me for pens, I use the 10mm
    length ones as these are the shortest length available to me at 29G.</p>
<h4 class="blog-subheading blog-subheading-layout">Cartridges</h4>
<p class="blog-paragraph">This is the only part not obtained from a reliable source, as such the sterility and quality
    of this is not going to be guaranteed. I source mine from AliExpress, searching for “3ml insulin bottle” and
    autoclave them myself. <strong>Sterility is very important.</strong></p>
<span class="blog-section-break"></span>
<h3 class="blog-header">How I prepare</h3>
<p class="blog-paragraph">I use a syringe with my orange 25G needles as the draw up needles I have are too large and
    often end up coring the small cartridges. Ensuring there are no air bubbles I transfer the contents from my vial
    into the cartridge, repeating until full, being careful not to overfill and risk the bottom popping out and losing
    3ml of precious estrogen.</p>
<p class="blog-paragraph">I place the full cartridge in the pen, attach a needle, and turn the dial by 2 units at a time
    until the fluid flows out the end.</p>
<p class="blog-paragraph">At this point the pen is prepared for injection, I followed <a
        href="https://www.youtube.com/watch?v=XTXzTDUf6rc">this video</a> guidance on administering an injection using a
    pen to familiarise myself with the process.</p>
<em class="blog-disclaimer">Disclaimer: Nothing within the contents of this article
    constitutes to medical advice, this is purely our interpretation of the available information. Further
    independent research is highly advised.</em>
{% endblock %}
{% block ad %}
{{ super() }}
{% endblock %}