{% extends 'blog.html' %}
{{ super() }}
{% block blog_body %}
<p class="blog-paragraph"><strong>We would strongly advise against completing the GES, especially the questions
        regarding medication.</strong></p>
<figure><img class="blog-image-container blog-image" alt="A piece of paper on fire."
        src="https://cdn-images-1.medium.com/max/1024/0*9YhhnnDVk_j7WNmj" />
    <figcaption class="blog-image-caption">Photo by <a
            href="https://unsplash.com/@kindandcurious?utm_source=medium&amp;utm_medium=referral">Kind and Curious</a>
        on <a href="https://unsplash.com?utm_source=medium&amp;utm_medium=referral">Unsplash</a></figcaption>
</figure>
<p class="blog-paragraph">As of writing, the <a href="https://goodlawproject.org/crowdfunder/nhs-cyp-guidance/">good law
        project is currently fundraising</a> pertaining to a leaked NHS England document, which seems to confirm our
    fears around the GES, check out <a
        href="https://www.wearequeeraf.com/nhs-england-to-tell-transgender-children-to-medically-detransition-or-face-safeguarding-referrals/">this
        article from QueerAF</a> for more info.</p>
<p class="blog-paragraph">The Gender Experience Summary (GES) form is an <strong>optional </strong>form given by <a
        href="https://www.ardengemcsu.nhs.uk/services/clinical-support/national-referral-support-service-for-the-nhs-gender-incongruence-service-for-children-and-young-people/">NHS
        Arden and GEM NRSS</a> upon referral to youth gender services in England &amp; Wales, taken from their FAQ:</p>
<blockquote class="blog-quote"><strong>Is it mandatory to complete the GES?</strong><br />While it isn’t mandatory to
    complete the GES, sending more up to date information may help to avoid any delays in the processing of your
    assessment.</blockquote>
<p class="blog-paragraph">We have <a
        href="https://www.transinformed.co.uk/static/files/gender-experience-summary-questionnaire.pdf">obtained a copy
        of the GES</a> through a FOI request with NHS England.</p>
<h3 class="blog-header">The red flag with the GES</h3>
<p class="blog-paragraph">The following quote is from the <a
        href="https://www.transinformed.co.uk/static/files/interim-service-spec-youth-12-March-2024.pdf">interim service
        specification</a>:</p>
<blockquote class="blog-quote"><strong>Where the Service is not able to accept responsibility for prescribing</strong>,
    the Service will not offer clinical supervision for the management of the endocrine intervention and <strong>will
        not enter into shared care arrangements with a health professional who is making recommendations for prescribing
        / is prescribing to the child or young person</strong>. In such cases The Service will make the child or young
    person and their family aware of the risks, contraindications and any irreversible or partially reversible effects
    of the intervention; and will make the GP or local health professional (as appropriate) aware and <strong>suggest
        that the GP or local health professional considers what safeguarding protocols may be appropriate </strong>for
    the individual child or young person’s wider circumstances including the extent to which the parents / carers are
    able to protect or safeguard the child or young person. <strong>Safeguarding procedures may be necessary regardless
        of the endeavours and best intentions of the parents / carers in reducing risk of harm</strong>.</blockquote>
<p class="blog-paragraph">The language here is vague and leaves open a very concerning message, that if you choose to
    pursue hormones or blocker treatment, that “safeguarding” action may be taken against you.</p>
<p class="blog-paragraph">Given the extremely narrow criteria in which the NHS will accept responsibility (criteria
    outlined in the same document section 8.2) you should strongly consider if completing the GES is in your best
    interest.</p>
<h3 class="blog-header">A lack of information, an abundance of uncertainty</h3>
<p class="blog-paragraph">There is currently very little information available around the provisioning of the new youth
    services.</p>
<p class="blog-paragraph">Given NHS England’s consistent push to go against the international standards set for trans
    healthcare, it’s heavily advised to approach this new system with a great deal of scepticism.</p>
<p class="blog-paragraph">The only benefit we were able to find for completing the GES is it “may help to avoid any
    delays in the processing of your assessment”. The information asked for in the survey is sensitive, and there’s a
    great deal of uncertainty in how that information will be used.</p>
<p class="blog-paragraph">However if <a
        href="https://www.transinformed.co.uk/static/files/cyp-gnrss-referral-process.pdf">their process map</a> is to
    be believed, not completing should have little to no impact on your referral time. Another handy part of this slide
    deck is page 5, which outlines the referral criteria and minimum data set.</p>
<p class="blog-paragraph"><strong>We would strongly advise providing no more information than what is outlined in the
        minimum data set.</strong></p>
<em class="blog-disclaimer">Disclaimer: Nothing within the contents of this article
    constitutes to medical advice, this is purely our interpretation of the available information. Further
    independent research is highly advised.</em>
<p class="blog-paragraph">Article content last updated: May 2024</p>
{% endblock %}
{% block ad %}
{{ super() }}
{% endblock %}