gunicorn==20.1.0
flask==2.3.2
docxtpl==0.16.6
jinja2==3.1.2
convertapi==1.6.0
python-dotenv==1.0.0
Flask-WTF==1.1.1
email_validator==2.0.0.post2
Flask-Limiter==3.3.0
Flask-Caching==2.0.2
deepdiff==6.3.0
discord.py==2.2.2
pandas==2.0.2
bs4==0.0.1
feedparser==6.0.10