gunicorn==21.2.0
flask==2.3.3
docxtpl==0.16.7
jinja2==3.1.2
convertapi==1.7.0
python-dotenv==1.0.0
Flask-WTF==1.1.1
email_validator==2.0.0.post2
Flask-Limiter==3.5.0
Flask-Caching==2.1.0
deepdiff==6.5.0
discord.py==2.3.2
pandas==2.1.1
bs4==0.0.1
feedparser==6.0.10