gunicorn==20.1.0
flask==2.2.2
docxtpl==0.16.4
jinja2==3.1.2
convertapi==1.4.0
python-dotenv==0.21.0
Flask-WTF==1.0.1
email_validator==1.2.1
Flask-Limiter==2.6.2
Flask-Caching==2.0.1
deepdiff==5.8.1
discord.py==2.0.1
pandas==1.4.4
bs4==0.0.1