gunicorn==23.0.0
flask==3.1.1
docxtpl==0.20.0
jinja2==3.1.6
convertapi==2.0.0
python-dotenv==1.1.0
Flask-WTF==1.2.2
email_validator==2.2.0
Flask-Limiter==3.12
Flask-Caching==2.3.1
deepdiff==8.5.0
discord.py==2.5.2
pandas==2.3.0
bs4==0.0.2
feedparser==6.0.11
numpy==1.26.4   # pinned for compatibility with deepdiff
zipp==3.23.0
setuptools>=70,<81