// small screen about
@use '../../variables/global-vars';
@use '../../base/mixins';


@media (min-width: 778px) {
    .main-content {
        display: flex;
        padding: 10px 12.15%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
    }

    h1 {
        @include mixins.text-properties($font-size: 42px, $font-weight: 700);
        
    }

    h2 {
        @include mixins.text-properties($font-size: 38px, $font-weight: 500);
        margin-bottom: 0px;
        margin-top: 0px;
    }

    p {
        @include mixins.text-properties($font-size: 24px);
        margin: 0px;
    }
}