// Base css to be used across all pages
@use '../variables/global-vars';
@use 'nav-small';
@use 'nav-large';

@keyframes slideIn {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    flex: 1 1 0;
    align-self: stretch;
    background: global-vars.$background;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    background: global-vars.$primary;
    color: #FFF;
    align-content: space-between;
    font-size: 14px;
    font-family: global-vars.$font;
    line-height: 24.37px;

}

.copyright {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer-links {
    padding: 8px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: global-vars.$nav-link-text-colour;
    text-decoration: none;
    text-underline-offset: 8px;
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color global-vars.$nav-link-hover-transition-out, text-underline-offset global-vars.$nav-link-hover-transition-out;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #FFF;
    transition: text-decoration-color global-vars.$nav-link-hover-transition-in, text-underline-offset global-vars.$nav-link-hover-transition-in;
}


.nav-link-active {
    color: global-vars.$nav-link-text-colour;
    font-weight: bold;
    text-underline-offset: 8px;
}

.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 150px;
    right: 8px;
    background: transparent;
    border: none;
    z-index: 9999;
    opacity: 0.8;
}