$background: #F9F8F6;
$primary: #0D2846;
$nav-link-text-colour: #FFF;
$nav-link-hover-transition-in: 250ms;
$nav-link-hover-transition-out: 150ms;
$font: Montserrat;
$hamburger-anim-time: 200ms;
$secondary: #6BCACC;