@use 'basevars';
@use 'navsmall';
@use 'navlarge';

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    flex: 1 1 0;
    align-self: stretch;
    background: basevars.$background;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    background: basevars.$primary;
    color: #FFF;
    align-content: space-between;
    font-size: 14px;
    font-family: basevars.$font;
    line-height: 24.37px;

}

.copyright {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer-links {
    padding: 8px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: basevars.$nav-link-text-colour;
    text-decoration: none;
    text-underline-offset: 8px;
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color basevars.$nav-link-hover-transition-out, text-underline-offset basevars.$nav-link-hover-transition-out;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #FFF;
    transition: text-decoration-color basevars.$nav-link-hover-transition-in, text-underline-offset basevars.$nav-link-hover-transition-in;
}


.nav-link-active {
    color: basevars.$nav-link-text-colour;
    font-weight: bold;
    text-underline-offset: 8px;
}