// commonly used properties

@use '../variables/global-vars';

$font: global-vars.$font;

@mixin text-properties($color: #000, $font-size: 20px, $font-style: normal, $font-weight: 400) {
    color: $color;
    font-family: $font;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    line-height: 121.833%;
}