details summary > * {
    display: inline;
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none
  }
  summary::marker { content: none; }
  
  summary::after {
    content: '▷More details';
    font-size: smaller;
  }
  details[open] summary:after {
    content: '▽More details';
    font-size: smaller;
  }
  .blog-content {
    margin: auto;
    width: 50%;
  }

  .blog-content h3 {
    text-align: center;
  }

  .blog-content figcaption {
    text-align: center;
  }
  .blog-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  .blog-content p {
    font-size: large;
  }
