// about page

@use 'components/about/about-large';
@use 'components/about/about-small';

.section-break {
    background: url('/static/images/linebreak.svg');
    width: 95px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}