// blog content page

@use 'components/blog/blog-large';
@use 'components/blog/blog-small';

.blog-section-break {
    background: url('/static/images/linebreak.svg');
    width: 95px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}