// index content page
@use 'variables/global-vars';
@use 'base/mixins';
@use 'components/index/index-large';
@use 'components/index/index-small';

.index-section-break {
    background: url('/static/images/linebreak.svg');
    width: 95px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.dropdowns{
    display: inline-flex;
    gap: 10px;
}

.dropdown-text {
    @include mixins.text-properties($font-size: 20px, $color: #667085);
    margin-top: 4px;
    margin-bottom: 16px;
    display: flex;
    width: 230px;
    height: 64px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #000;
    
    background: #fff;
}

.inline-dropdown {
    width: 460px;
    height: 64px;
    padding: 8px 16px;;
    border-radius: 6px;
    border: 2px solid #000;
    
    background: #fff;
}


.dropdown-arrow {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.dropdown-label {
    @include mixins.text-properties($font-size: 18px);
}

.badge-container {
    display: inline-flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #A7112C;
}

.badge-text {
    @include mixins.text-properties($font-size: 14px, $color: #FFF);
}

.captcha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.check-box:checked {
    animation: shrink-bounce 200ms cubic-bezier(.4, .0, .23, 1);
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(.95);
        
    }

    100% {
        transform: scale(1);
    }
}

.dropdown-container {
    width: 230px;
}

.is-invalid {
    border-color: #a7112c;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMicgd2lkdGg9JzEyJyBoZWlnaHQ9JzEyJyBmaWxsPSdub25lJyBzdHJva2U9JyNkYzM1NDUnPjxjaXJjbGUgY3g9JzYnIGN5PSc2JyByPSc0LjUnLz48cGF0aCBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBkPSdNNS44IDMuNmguNEw2IDYuNXonLz48Y2lyY2xlIGN4PSc2JyBjeT0nOC4yJyByPScuNicgZmlsbD0nI2RjMzU0NScgc3Ryb2tlPSdub25lJy8+PC9zdmc+);
    background-position: right .75rem center,center right 2.25rem;
    background-size: 32px 24px,calc(.75em + .375rem) calc(.75em + .375rem);
    padding-right: 4.125rem;
    background-repeat: no-repeat;
}

.is-valid {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA4IDgnPjxwYXRoIGZpbGw9JyMxOTg3NTQnIGQ9J00yLjMgNi43My42IDQuNTNjLS40LTEuMDQuNDYtMS40IDEuMS0uOGwxLjEgMS40IDMuNC0zLjhjLjYtLjYzIDEuNi0uMjcgMS4yLjdsLTQgNC42Yy0uNDMuNS0uOC40LTEuMS4xeicvPjwvc3ZnPg==);
    border-color: #2C5E2C;
    background-position: right .75rem center,center right 2.25rem;
    background-size: 32px 24px,calc(.75em + .375rem) calc(.75em + .375rem);
    padding-right: 4.125rem;
    background-repeat: no-repeat;
   
}
