$secondary: #6BCACC;
$background: #F9F8F6;
$card-text-background: #FFF;
$nav-link-text-colour: #FFF;
$card-hover-transition: 180ms;
$nav-link-hover-transition-in: 250ms;
$nav-link-hover-transition-out: 150ms;
$hamburger-anim-time: 200ms;
$font: Montserrat;


@keyframes slideIn {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    flex: 1 1 0;
    align-self: stretch;
    background: $background;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    background: #0D2846;
    color: #FFF;
    align-content: space-between;
    font-size: 14px;
    font-family: $font;
    line-height: 24.37px;

}

.copyright {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.footer-links {
    padding: 8px;
    gap: 16px;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: $nav-link-text-colour;
    text-decoration: none;
    text-underline-offset: 8px;
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color $nav-link-hover-transition-out, text-underline-offset $nav-link-hover-transition-out;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #FFF;
    transition: text-decoration-color $nav-link-hover-transition-in, text-underline-offset $nav-link-hover-transition-in;
}


.nav-link-active {
    color: $nav-link-text-colour;
    font-weight: bold;
    text-underline-offset: 8px;
}

.layout-card-container {
    flex: 1 1 0;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    width: 320px;
    height: 343px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all;
    transition-duration: $card-hover-transition;
}

.card-container:hover {
    padding-right: 8px;
    padding-bottom: 8px;
    margin-right: 2px;
    margin-bottom: 2px;
    background: $secondary;

}

.card-image-container {
    align-self: stretch;
    height: 205px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

.card-image {
    align-self: stretch;
    flex: 1 1 0
}

.card-text-container {
    align-self: stretch;
    flex: 1 1 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background: $card-text-background;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    display: flex
}

.card-heading-container {
    align-self: stretch;
    height: 44px;
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

.card-heading {
    align-self: stretch;
    color: black;
    font-size: 20px;
    font-family: $font;
    font-weight: 600;
    line-height: 24.37px;
    word-wrap: break-word
}

.card-description-container {
    align-self: stretch;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex
}

.card-description {
    align-self: stretch;
    flex: 1 1 0;
    color: black;
    font-size: 16px;
    font-family: $font;
    font-weight: 400;
    line-height: 19.49px;
    word-wrap: break-word
}

@media (min-width: 778px) {
    .nav-bar-mobile {
        display: none;
    }

    .hamburger-btn {
        display: none;
    }

    #hamburger {
        display: none;
    }

    .mobile-link-container {
        display: none;
    }

    .mobile-link {
        display: none;

    }

    .header {
        align-self: stretch;
        height: 256px;
        background: #0D2846;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
    }

    .header-link-container {
        justify-content: center;
        align-items: center;
        gap: 10px;
        display: flex;
        padding-bottom: 10px;
    }

    .header-link {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: $font;
        font-weight: 300;
        line-height: 36.55px;
        word-wrap: break-word
    }

    .header-logo-container {
        width: 498px;
        height: 142.98px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        display: inline-flex
    }

    .nav-bar {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        align-items: center;
        gap: 30px;
        display: inline-flex
    }

    .bc-logo {
        width: 362px;
        height: 122px
    }

    .ti-logo {
        width: 128px;
        height: 128px
    }

    .main-content {
        align-self: stretch;
        flex: 1 1 0;
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: $background;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        display: inline-flex
    }

    .blog-main-content {
        display: flex;
        padding: 10px 12.15%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
    }

    .blog-title {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        align-self: stretch;
        margin-bottom: 10px;
    }

    h1 {
        color: #000;
        font-family: $font;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 121.833%;
        /* 51.17px */
    }

    .description-text {
        color: #4D4D4D;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 121.833%;
        /* 26.803px */
    }

    .blog-description {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        align-self: stretch;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .blog-image-container {
        display: flex;
        width: 472px;
        height: 335px;
        justify-content: center;
        align-items: center;
    }

    .blog-image {
        width: 472px;
        height: 335px;
        flex-shrink: 0;
    }

    .blog-header {
        display: flex;
        padding: 24px 0px 8px 0px;
        justify-content: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    h3 {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 121.833%;
        /* 29.24px */
    }

    .blog-image-caption {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin: 10px;
    }

    figcaption {
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 121.833%;
        /* 17.057px */
    }

    figure {
        margin: 0;
    }

    .blog-paragraph {
        margin: 0;
        margin-bottom: 10px;
        display: inline-flexbox;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;

    }

    p {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 121.833%;
        /* 24.367px */
            
    }

    em {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-style: italic;
        font-weight: 300;
        line-height: 121.833%;
        /* 24.367px */
    }

    .blog-disclaimer {
        margin: 0;
        display: inline-flexbox;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    li {
        color: #000;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 121.833%;
        margin-bottom: 10px;
        /* 24.367px */
    }

    .blog-quote {
        display: inline-flexbox;
        padding-left: 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;


    }

    blockquote {
        color: #000;
        font-family: Montserrat;
        border-left: 3px solid #000;
        font-size: 20px;
        font-style: italic;
        font-weight: 300;
        line-height: 121.833%;
        /* 24.367px */
    }

    .blog-subheading {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 121.833%;
        /* 29.24px */

    }

    .blog-subheading-layout {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        align-self: stretch;

    }


    .blog-section-break {
        background: url('/static/images/linebreak.svg');
        width: 95px;
        height: 32px;
        margin-top: 10px;
        }
    }

    strong {

    }

    @media (max-width: 777px) {

        .header {
            align-self: stretch;
            height: 120px;
            background: #0D2846;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            display: flex;
            column-gap: 60%;

        }

        .nav-bar-mobile {
            display: none;
            flex-direction: column;
            align-items: center;
            top: 120px;
            justify-content: center;
            background: #0D2846;
            width: 100%;
            gap: 24px;
            padding-bottom: 10px;
            left: 100%;
            width: 0;
            height: 100%;
            transition: all 300ms linear;
            transition-behavior: allow-discrete;

        }

        .nav-bar-mobile[aria-expanded="true"] {
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 120px;
            justify-content: center;
            background: #0D2846;
            width: 100%;
            gap: 24px;
            padding-bottom: 10px;
            opacity: 1;
            scale: 1;
            left: 0;
            animation: slideIn 300ms;
            transition-behavior: allow-discrete;
        }

        .header-link-container {
            display: none;
        }

        .header-link {
            display: none;

        }


        .mobile-link {

            color: #FFF;
            text-align: center;
            font-family: $font;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: 121.833%;
            /* 36.55px */

        }


        .header-logo-container {
            width: 112px;
            height: 112px;
            justify-content: flex-start;
            align-items: center;
            display: inline-flex;
            padding: 16px;
        }

        .hamburger-btn {
            position: absolute;
            right: 16px;
            background: transparent;
            border: none;

            .line {
                transition: transform $hamburger-anim-time ease-in $hamburger-anim-time, rotate $hamburger-anim-time ease-in, opacity 0ms $hamburger-anim-time;
                transform-origin: center;
            }

        }


        .hamburger-btn[aria-expanded="true"] {
            .line {
                transition: transform $hamburger-anim-time ease-in, rotate $hamburger-anim-time ease-in $hamburger-anim-time, opacity 0ms $hamburger-anim-time;
            }

            .bottom {
                opacity: 0;
                transform: translateY(-20px);
            }

            .top {
                rotate: 45deg;
                transform: translateY(20px);
            }

            .middle {
                rotate: -45deg;

            }

        }

        .bc-logo {
            display: none;
        }

        .ti-logo {
            width: 112px;
            height: 112px;
        }

        .main-content {
            align-self: stretch;
            flex: 1 1 0;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: $background;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            display: inline-flex
        }
    }