{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>About - Trans Informed</title>
<link rel="canonical" href="https://www.transinformed.co.uk/about" />
<meta name="description" content="Information about the Trans Informed document generation service.">
<meta name="twitter:title" content="Trans Informed - About">
<meta name="twitter:description" content="Information about the Trans Informed document generation service." >
<meta name="og:title" content="Trans Informed - About">
<meta name="og:description" content="Information about the Trans Informed document generation service." >
<meta name="keywords" content="trans,transgender,HRT,hormones,about,health,healthcare,contact,support">
<link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block body %}
<a href="#main" class="skip-to-main">Skip to main content</a>
<div class="header">
    {% block header %}
    {{ super() }}
    {% endblock %}

    <nav class="nav-bar">
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link-active" href="/about">About</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/resources">Resources</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/sources">Sources</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" target="_blank" rel="noopener" href="https://ko-fi.com/beawitching_cic/shop">Shop</a></div>
        </div>
    </nav>
</div>

<nav class="nav-bar-mobile" id="mobile">

    <span class="mobile-link"><a class="nav-link-active" href="/about" aria-current="page">About</a></span>

    <span class="mobile-link"><a class="nav-link" href="/resources">Resources</a></span>

    <span class="mobile-link"><a class="nav-link" href="/sources">Sources</a></span>

    <span class="mobile-link"><a class="nav-link" target="_blank" rel="noopener" href="https://ko-fi.com/beawitching_cic/shop">Shop</a></span>

</nav>

<div class="main-content" id="main">
    <h1>About</h1>
    
    <h2>Who runs this service?</h2>
    <p>This service is run by Beawitching Communities CIC.
        Registered in England and Wales Company No. 14740989.
        Our registered office address is 124 City Road, London, England, EC1V 2NX.
        Please do not send correspondence to this address as it will be rejected.
        
        The best way to reach us is via <a href="https://twitter.com/beawitching_cic">twitter</a> or email at: <a href="mailto:contact@beawitching.co.uk">contact@beawitching.co.uk</a>
        <br><a href="/static/beawitcht_public.asc">This is our PGP public key </a></p>

    <span class="section-break"></span>

    <h2>Who is this service for?</h2>
    <p>This service is for anyone living in the UK who is seeking gender affirming care from their GP.</p>
    
    <span class="section-break"></span>

    <h2>Learn more about continuing HRT when immigrating to the UK</h2>
    <p>Check out <a target="_blank" rel="noopener" href="https://medium.com/@zoyander/continuing-hrt-after-arriving-in-the-uk-2655abd87fa7#a7f3">this section on getting a letter</a> for continuing HRT in the UK.</p>

    <span class="section-break"></span>
    
    <h2>What this service does not provide</h2>
    <p>This service can <strong>NOT</strong> guarantee that your GP will be co-operative in providing gender affirming care. This service also doesn't provide medical advice or encourage users to pursue a particular pathway of care. Research outside of our service is strongly recommended.</p>

    <span class="section-break"></span>
    
    <h2>What countries is this service available in?</h2>
    <p>This service is available to all countries in the UK, however this service was created by an England based trans person. If you find any inaccuracies, please reach out to us.</p>

    <span class="section-break"></span>

    <h2>What are PDF downloads unavailable?</h2>
    <p>PDF generation is done through a third party API, we can't always afford to pay for PDF availability. If you would like to contribute please reach out to us via <a href="https://twitter.com/beawitching_cic">twitter</a> or email at: <a href="mailto:contact@beawitching.co.uk">contact@beawitching.co.uk</a>.</p>
</div>
{% block footer %}
{{ super() }}
{% endblock %}
{% endblock %}