<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trans Informed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="icon" href="/static/logo.svg">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2022 Bea</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/beawitcht">
                    <image src="/static/twitter.png" class="img-fluid" width="24" height="24" alt="Link to the developers Twitter" role="link">
                    </image>
                </a></li>
            <li class="ms-3"><a class="text-muted" href="https://github.com/beawitcht/transinformed-server">
                    <image src="/static/github.png" class="img-fluid" width="24" height="24" alt="Link to the trans informed GitHub repo" role="link">
                    </image>
                </a></li>
            <li class="ms-3"><a class="text-muted" href="https://ko-fi.com/beawitched">
                    <image src="/static/kofilogo.png" class="img-fluid" width="24"
                        height="24" alt="Link to developers Ko-fi page" role="link">
                    </image>
                </a></li>
        </ul>
    </footer>
</div>

</html>