<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.transinformed.co.uk/static/images/twitterimage.png">
    <meta property="og:image:alt"
        content="Looking to discuss your gender related healthcare needs with a GP? Create a document tailored to your needs in just a few clicks.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@beawitcht">
    <meta name="twitter:image" content="https://www.transinformed.co.uk/static/images/twitterimage.png">
    <meta property="twitter:image:alt"
        content="Looking to discuss your gender related healthcare needs with a GP? Create a document tailored to your needs in just a few clicks.">
    <link rel="icon" href="/static/images/logo.svg">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/transinformed.css">
    <script defer src="/static/js/mobilenav.js"></script>
    {% endblock %}
</head>
{% block body %}

{% endblock %}


</html>