{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>{{blog.title}} - Trans Informed</title>
<link rel="canonical" href="https://www.transinformed.co.uk/blogs/{{blog.url_title}}" />
<meta name="description" content="{{blog.summary}}">
<meta name="twitter:title" content="{{blog.title}} - Trans Informed">
<meta name="twitter:description" content="{{blog.summary}}" >
<meta name="og:title" content="{{blog.title}} - Trans Informed">
<meta name="og:description" content="{{blog.summary}}" >
<meta name="keywords" content="{{blog.tags}}">
{% endblock %}

{% block body %}
<a href="/"><img class="mx-auto d-block pt-3" src="/static/images/BCLogo.svg" alt="Beawitching Communities logo and link to home" width="284" height="106" ></a>
<header class="d-flex justify-content-center py-3">
    <ul class="d-flex justify-content-center nav nav-pills">
        <li class="nav-item"><a href="/about" class="nav-link" >About</a></li>
        <li class="nav-item"><a href="/resources" class="nav-link" >Resources</a></li>
        <li class="nav-item"><a href="/sources" class="nav-link" >Sources</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link active" aria-current="page">Blogs</a></li>
    </ul>
</header>
<div class="container">
    <div class="blog-content">
        <h1 class="text-center">{{blog.title}}</h1>
        {{blog.content[0].value| stylish| safe}}
    </div>
</div>
{% endblock %}