{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>{{blog.title}} - Trans Informed</title>
<link rel="canonical" href="https://www.transinformed.co.uk/blogs/{{blog.url_title}}" />
<meta name="description" content="{{blog.summary}}">
<meta name="twitter:title" content="{{blog.title}} - Trans Informed">
<meta name="twitter:description" content="{{blog.summary}}" >
<meta name="og:title" content="{{blog.title}} - Trans Informed">
<meta name="og:description" content="{{blog.summary}}" >
<meta name="keywords" content="{{blog.tags}}">
{% endblock %}

{% block body %}

<div class="header">
    <a href="/">
        <div class="header-logo-container">
            <img class="bc-logo" src="/static/images/redesign/bclogo.png" />
            <img class="ti-logo" src="/static/images/redesign/tilogo.svg" />
        </div>
    </a>

    <button id="hamburger" class="hamburger-btn" src="/static/images/redesign/hamburger.svg"
        aria-controls="navigation-menu" aria-expanded="false">
        <svg fill="#6BCACC" class="hamburger" viewBox="0 0 100 100" width="35" height="35" xmlns="http://www.w3.org/2000/svg">
            <rect class="line top" width="80" height="10" x="10" y="25" rx="5">
            </rect>
            <rect class="line middle" width="80" height="10" x="10" y="45" rx="5">
            </rect>
            <rect class="line bottom" width="80" height="10" x="10" y="65" rx="5">
            </rect>
          </svg>
    </button>

    <nav class="nav-bar">
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/about">About</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/resources">Resources</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/sources">Sources</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link-active" href="/blogs">Blogs</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/shop">Shop</a></div>
        </div>
    </nav>
</div>

<nav class="nav-bar-mobile" id="mobile">

    <span class="mobile-link"><a class="nav-link" href="/about">About</a></span>

    <span class="mobile-link"><a class="nav-link" href="/resources">Resources</a></span>

    <span class="mobile-link"><a class="nav-link" href="/sources">Sources</a></span>

    <span class="mobile-link"><a class="nav-link-active" href="/blogs">Blogs</a></span>

    <span class="mobile-link"><a class="nav-link" href="/shop">Shop</a></span>

</nav>

<div class="blog-main-content">
    <h1 class="blog-title">{{ blog.title }}</h1>
    {% block blog_body %}
    {% endblock %}
</div>
{{ super() }}
{% endblock %}