{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Blogs - Trans Informed</title>
<link rel="canonical" href="https://www.transinformed.co.uk/blogs" />
<meta name="description" content="Blogs around trans healthcare in the uk">
<meta name="twitter:title" content="Trans Informed - Sources">
<meta name="twitter:description" content="Blogs around trans healthcare in the uk" >
<meta name="og:title" content="Trans Informed - Sources">
<meta name="og:description" content="Blogs around trans healthcare in the uk" >
<meta name="keywords" content="trans,transgender,HRT,hormones,blogs,health,healthcare,blogging,legislation,guidance">
<link rel="stylesheet" href="/static/css/blogs.css">
{% endblock %}

{% block body %}

<div class="header">
    {% block header %}
    {{ super() }}
    {% endblock %}

    <nav class="nav-bar">
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/about">About</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/resources">Resources</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/sources">Sources</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link-active" href="/blogs">Blogs</a></div>
        </div>
        <div class="header-link-container">
            <div class="header-link"><a class="nav-link" href="/shop">Shop</a></div>
        </div>
    </nav>
</div>

<nav class="nav-bar-mobile" id="mobile">

    <span class="mobile-link"><a class="nav-link" href="/about">About</a></span>

    <span class="mobile-link"><a class="nav-link" href="/resources">Resources</a></span>

    <span class="mobile-link"><a class="nav-link" href="/sources">Sources</a></span>

    <span class="mobile-link"><a class="nav-link-active" href="/blogs">Blogs</a></span>

    <span class="mobile-link"><a class="nav-link" href="/shop">Shop</a></span>

</nav>

<div class="main-content">
    <div class="layout-card-container">
        {% for blog in medium_feed %}
        <a href="/blogs/{{ blog.url_title }}">
            <div class="card-container">
                <div class="card-image-container">
                    {{blog.card_img | safe}}
                </div>
                <div class="card-text-container">
                    <div class="card-heading-container">
                        <div class="card-heading">{{blog.title}}</div>
                    </div>
                    <div class="card-description-container">
                        <div class="card-description">{{blog.summary}}</div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% block footer %}
{{ super() }}
{% endblock %}
{% endblock %}