<link rel="stylesheet" href="/static/css/transinformed.css">

<div class="header">
    <div class="header-logo-container">
        <img class="bc-logo" src="/static/images/redesign/bclogo.png" />
        <img class="ti-logo" src="/static/images/redesign/tilogo.svg" />
    </div>
    <div class="nav-bar">
        <div class="header-link-container">
            <div class="header-link">About</div>
        </div>
        <div class="header-link-container">
            <div class="header-link">Resources</div>
        </div>
        <div class="header-link-container">
            <div class="header-link">Sources</div>
        </div>
        <div class="header-link-container">
            <div class="header-link">Blogs</div>
        </div>
        <div class="header-link-container">
            <div class="header-link">Shop</div>
        </div>
    </div>
</div>


<div class="main-content">
    <div class="layout-card-container">
        {% for blog in medium_feed %}
        <div class="card-container">
            <div class="card-image-container">
                {{blog.card_img | safe}}
            </div>
            <div class="card-text-container">
                <div class="card-heading-container">
                    <div class="card-heading">{{blog.title}}</div>
                </div>
                <div class="card-description-container">
                    <div class="card-description">{{blog.summary}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>