{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Trans Informed</title>
<link rel="canonical" href="https://www.transinformed.co.uk" />
<meta name="description" content="Create a personalised supporting document to accessing HRT and other transition related services through your GP.">
<meta name="twitter:title" content="Trans Informed">
<meta name="twitter:description" content="Create a personalised supporting document to accessing HRT and other transition related services through your GP." >
<meta name="og:title" content="Trans Informed">
<meta name="og:description" content="Create a personalised supporting document to accessing HRT and other transition related services through your GP." >
<meta name="keywords" content="trans,transgender,HRT,hormones,supporting document,document generator,health,healthcare,guide,template">
{% endblock %}

{% block body %}
<header class="d-flex justify-content-center py-3">
    <ul class="d-flex justify-content-center nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/resources" class="nav-link">Resources</a></li>
        <li class="nav-item"><a href="/sources" class="nav-link" >Sources</a></li>
        <li class="nav-item"><a href="/blogs" class="nav-link">Blogs</a></li>
    </ul>
    <script defer src="/static/js/jquery-3.6.3.min.js"></script>
    <script defer src="/static/js/transinformed.min.js"></script>
</header>


<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/images/logo.svg" alt="Trans Informed logo" width="216"
                height="216" height="57">
            <h1>Create your trans healthcare guide</h1>
            <p class="lead">A personalised supporting document to accessing HRT and other transition related services through your GP.</p>
        </div>

        <div class="row g-5 ">
            <div class="py-5">
                <h2>Template info</h2>
                <p class="mb-3 text-muted">Data to be generated</p>
                <form class="needs-validation" id="generationForm" action="/" method="post">
                    <div class="row g-3">
                        <div class="col-md-12 required border-start border-4 rounded">
                            <div class="col-md-3">
                                {{ form.countries.label(for='form.countries.name', name='country', class='form-label') }} <span
                                class="badge rounded-pill text-bg-danger">Required</span>
                                {% if form.countries.errors|length > 0 %} {{ form.countries(class='form-select is-invalid', id='countries')}}
                                {% else %} {{ form.countries(class='form-select', id='countries')}}
                                {% endif %}
                                <div class="invalid-feedback ">
                                    {% for error in form.countries.errors %}
                                    {{error}}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 border-start border-4 rounded">
                                    <h3>Documents held</h3>
                            <div class="form-check">
                                {{form.formal_diagnosis(class='form-check-input', type='checkbox', role='checkbox', id='diagnosisCheck')}}
                                {{form.formal_diagnosis.label(class='form-check-label', for='diagnosisCheck')}}
                            </div>
                            <div class="form-check">
                                {{form.hrt_recommendation(class='form-check-input', type='checkbox', role='checkbox', id='hrtCheck')}}
                                {{form.hrt_recommendation.label(class='form-check-label', for='hrtCheck')}}
                            </div>
                            <div class="form-check">
                                {{form.no_doc(class='form-check-input', type='checkbox', role='checkbox', id='noDocCheck')}}
                                {{form.no_doc.label(class='form-check-label', for='noDocCheck')}}
                            </div>
                        </div>
                        <div class="col-md-6 border-start border-4 rounded">
                            <details class="mb-3">
                                <summary>
                                    <h3>My current status</h3>
                                </summary>
                                <div class="card">
                                    <div class="card-body">
                                        This section covers areas of healthcare relating to your current circumstances, choose the
                                        relevant option to add to your document.
                                        <hr>
                                        <h4>Why are you asking about my address and ID?</h4>
                                        We ask you if you have a fixed address or identification to add a section to the document clarifying that you are entitled to access healthcare from a GP without any proof of address or identification
                                    </div>
                                </div>
                            </details>

                            <div class="form-check">
                                {{form.no_fixed_address(class='form-check-input', type='checkbox', role='checkbox', id='fixedAddressCheck')}}
                                {{form.no_fixed_address.label(class='form-check-label', for='fixedAddressCheck')}}
                            </div>
                            <div class="form-check">
                                {{form.no_id_proof(class='form-check-input', type='checkbox', role='checkbox', id='noIdProofCheck')}}
                                {{form.no_id_proof.label(class='form-check-label', for='noIdProofCheck')}}
                            </div>
                        </div>
                        
                        <div class="col-md-6 border-start border-4 rounded">
                            <details class="mb-3">
                                <summary>
                                    <h3>Medication Status</h3>
                                </summary>
                                <div class="card">
                                    <div class="card-body">
                                        This section contains options regarding what your current medication status is, in regards to HRT.
                                    </div>
                                </div>
                            </details>
                            <div class="form-check">
                                {{form.self_med(class='form-check-input', type='checkbox', role='checkbox', id="selfMedCheck")}}
                                {{form.self_med.label(class='form-check-label', for="selfMedCheck")}}
                            </div>

                            <div class="form-check">
                                {{form.self_med_likely(class='form-check-input', type='checkbox', role='checkbox', id="likelyMedCheck")}}
                                {{form.self_med_likely.label(class='form-check-label', for="likelyMedCheck")}}
                            </div>

                            <div class="form-check">
                                {{form.no_self_med(class='form-check-input', type='checkbox', role='checkbox', id="noMedCheck")}}
                                {{form.no_self_med.label(class='form-check-label', for="noMedCheck")}}
                            </div>
                            <div class="form-check">
                                {{form.private_prescription(class='form-check-input', type='checkbox', role='checkbox', id="privateMedCheck")}}
                                {{form.private_prescription.label(class='form-check-label', for="privateMedCheck")}}
                            </div>
                            <div class="form-check">
                                {{form.foreign_prescription(class='form-check-input', type='checkbox', role='checkbox', id="foreignMedCheck")}}
                                {{form.foreign_prescription.label(class='form-check-label', for="foreignMedCheck")}}
                            </div>
                        </div>

                        <div class="col-md-6 border-start border-4 rounded">
                            <details class="mb-3">
                                <summary>
                                    <h3>What I need from my GP</h3>
                                </summary>
                                <div class="card">
                                    <div class="card-body">
                                        <h4>What is a shared care agreement?</h4>
                                        Check out <a target="_blank" rel="noopener" href="https://www.transinformed.co.uk/static/files/shared-care-faq-for-patients.pdf">this faq sheet</a> for info on shared care.
                                        <hr>
                                        <h4>Which private provider is right for me?</h4>
                                        When choosing a private provider, GPs are much more likely to work with a specialist who is based in the UK, and registered with the GMC. Check out <a target="_blank" rel="noopener" href="https://genderkit.org.uk/resources/choosing-gender-service/"> this resource from Gender Construction Kit </a> to help decide on the service that is right for you.
                                        <hr>
                                        <h4>Why is the bridging prescription greyed out?</h4>
                                        If you need a bridging prescription, the GMC and NHS require that transgender people are
                                        self-prescribing, or likely to self prescribe hormones.
                                        <hr>
                                        <h4>How can I continue with HRT when migrating to the UK?</h4>
                                        It is highly recommended that you obtain a letter from your previous HRT provider, if you need help deciding the contents of this letter, check out <a target="_blank" rel="noopener" href="https://medium.com/@zoyander/continuing-hrt-after-arriving-in-the-uk-2655abd87fa7#a7f3">this letter template.</a>
                                    </div>
                                </div>
                            </details>
                            
                            <div class="form-check">
                                {{ form.shared_care(class='form-check-input', type='checkbox', role='checkbox', id="sharedCareCheck") }}
                                {{ form.shared_care.label(class='form-check-label', for="sharedCareCheck") }}
                            </div>
                            
                            <div class="" hidden id="privateSelector">
                                <div class="col-md-6">
                                    {{ form.chosen_private_care.label(for='form.chosen_private_care.name', name='gic', class='form-label') }}
                                    {{ form.chosen_private_care(class='form-select', id='privateProviderList') }}
                                    <div id="notUK" class="invalid-feedback"></div>
                                    <div id="preferred" class="valid-feedback"></div>
                                </div>
                                
                            </div>
                            
                            <div class="form-check">
                                {{form.bridging_desired(class='form-check-input', type='checkbox', role='checkbox', id="bridgingDesired", disabled="")}}
                                {{form.bridging_desired.label(class='form-check-label', for="bridgingDesired", id="bridgingDesiredLabel")}}
                            </div>

                            <div class="form-check">
                                {{form.blood_testing(class='form-check-input', type='checkbox', role='checkbox', id="bloodTests")}}
                                {{form.blood_testing.label(class='form-check-label', for="bloodTests")}}
                            </div>
                        
                            <div class="form-check">
                                {{form.immigration_care(class='form-check-input', type='checkbox', role='checkbox', id="immigrationCheck")}}
                                {{form.immigration_care.label(class='form-check-label', for="immigrationCheck")}}
                            </div>
                            
                            <div hidden id="immigrationOption">
                                <div class="form-check">
                                    {{ form.immigration_letter(class='form-check-input', type='checkbox', role='checkbox', id="immigrationLetterCheck") }}
                                    {{ form.immigration_letter.label(class='form-check-label', for="immigrationLetterCheck") }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 border-start border-4 rounded">
                            <details class="mb-3">
                                <summary>
                                    <h3>Service referrals and letters</h3>
                                </summary>
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Which Gender Identity Clinic is right for me?</h4>
                                        All GICs have requirements on who can be referred to them (based on age and location, and if they're accepting referrals). Check out <a target="_blank" rel="noopener" href="https://genderkit.org.uk/resources/wait-times/"> this resource from Gender Construction Kit </a> to make sure the GIC in question is the right choice for you.
                                    </div>
                                </div>
                            </details>
                            
                            <div class="form-check">
                                {{ form.gic_referral(class='form-check-input', type='checkbox', role='checkbox', id="referralCheck") }}
                                {{ form.gic_referral.label(class='form-check-label', for="referralCheck") }}
                            </div>
                            
                            <div hidden id="gicSelector">
                                <div class="col-md-6">
                                    {{ form.chosen_gic.label(for='form.chosen_gic.name', name='gic', class='form-label') }}
                                    {{ form.chosen_gic(class='form-select', id='gics', option_attr={"chosen_gic-0" : {"id" : "countryNeeded"}, "chosen_gic-1" : {"id" : "default"} }) }}
                                </div>
                            </div>
                            
                            <div class="form-check">
                                {{ form.slt_referral(class='form-check-input', type='checkbox', role='checkbox', id="sltCheck") }}
                                {{ form.slt_referral.label(class='form-check-label', for="sltCheck") }}
                            </div>

                            <div class="form-check">
                                {{ form.passport_letter(class='form-check-input', type='checkbox', role='checkbox', id="passportCheck") }}
                                {{ form.passport_letter.label(class='form-check-label', for="passportCheck") }}
                            </div>
                        </div>
                        
                        <hr class="my-4">
                        <h2>About you</h2>
                        <details>
                            <summary>
                                <p class="mb-3 text-muted">All details are optional</p>
                            </summary>
                            <div class="card">
                                <div class="card-body">
                                    Your details are not stored by us or used by us for any other purpose than populating the template and returning your personalised document. PDF generation makes use of a 3rd party API to generate the document.
                                </div>
                            </div>
                        </details>
                        <div class="row gy-3">
                            <div class="col-sm-6">
                                {{ form.name.label(class='form-label', for="firstName") }}
                                {{form.name(class='form-control', type='text', id="firstName", placeholder="Name")}}
                            </div>

                            <div class="col-sm-6">
                                {{form.email.label(class='form-label', for="email")}}
                                {% if form.email.errors|length > 0 %}
                                    {{form.email(class='form-control is-invalid', type='email', id="email", placeholder="you@example.com")}}<span class="text-muted"></span>
                                {% else %}
                                    {{form.email(class='form-control', type='email', id="email", placeholder="you@example.com")}}<span class="text-muted"></span>
                                {% endif %}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        {{error}}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="col-md-2">
                                {{form.phone.label(class='form-label', for="phoneNumber")}}
                                {{form.phone(class='form-control', type='text', id="phoneNumber", placeholder="+4412345678910")}}<span class="text-muted"></span>
                            </div>

                            <div class="col-md-2">
                                {{form.pronouns.label(class='form-label', for="pronouns")}}
                                {{form.pronouns(class='form-control', type='text', id="pronouns", placeholder="any/any") }} <span class="text-muted"></span>
                            </div>

                            <hr class="my-4">

                            <div class="d-flex justify-content-center">
                                {{ form.captcha }}
                            </div>

                            {% if form.captcha.errors|length > 0 %}
                            <span class="error text-danger text-center">Captcha incorrect!</span>
                            {% endif %}

                        </div>


                        <div class="btn-group">
                            <button class="btn btn-outline-primary btn-lg mr-3" id="docx" name="docx" type="submit"
                                value="docx" disabled>Generate Docx</button>
                            {% if not pdf_available %}
                            <button class="btn btn-outline-primary btn-lg disabled" name="pdf" type="submit"
                                value="pdf">PDF Unavailable</button>
                            {% else %}
                            <button class="btn btn-outline-primary btn-lg" id="pdf" name="pdf" type="submit" value="pdf"
                                disabled>Generate PDF</button>
                            {% endif %}
                        </div>
                </form>
            </div>
        </div>

    </main>
</div>
{% endblock %}