{% extends 'base.html' %}

{% block head %}
{{ super() }}
<title>Useful Resources - Trans Informed</title>
<link rel="canonical" href="https://www.transinformed.co.uk/resources" />
<meta name="description" content="Additional resources for HRT access and other transgender related healthcare needs.">
<meta name="twitter:title" content="Resources - Trans Informed">
<meta name="twitter:description" content="Additional resources for HRT access and other transgender related healthcare needs." >
<meta name="keywords" content="trans,transgender,HRT,hormones,useful resources,health,healthcare,resources,blog">
{% endblock %}

{% block body %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link" >About</a></li>
        <li class="nav-item"><a href="/resources" class="nav-link active" aria-current="page">Resources</a></li>
        <li class="nav-item"><a href="/sources" class="nav-link" >Sources</a></li>
    </ul>
</header>


<div class="container">
    <main>
        <div class="py-5">
            <h1 class="text-center">Useful Resources</h1>
            <hr>
            <div class="accordion" id="accordionrResources">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="resources-blogPosts">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#resources-collapseBlog" aria-expanded="false" aria-controls="resources-collapseBlog">
                            Our blog posts
                        </button>
                    </h2>
                    <div id="resources-collapseBlog" class="accordion-collapse collapse" aria-labelledby="resources-blogPosts">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <a target="_blank" rel="noopener" class="list-group-item list-group-item" href="https://medium.com/@transinformed/accessing-hrt-as-a-trans-person-in-the-uk-c28bd9b5b0df">Accessing HRT as a trans person in the UK</a>
                                <a target="_blank" rel="noopener" class="list-group-item list-group-item" href="https://medium.com/@transinformed/getting-a-shared-care-agreement-from-your-gp-e21f265df050">Getting a shared care agreement from your GP</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="resources-formalDiagnosis">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#resources-collapseOne" aria-expanded="false" aria-controls="resources-collapseOne">
                            Learn more about getting a formal diagnosis
                        </button>
                    </h2>
                    <div id="resources-collapseOne" class="accordion-collapse collapse" aria-labelledby="resources-formalDiagnosis">
                        <div class="accordion-body">
                            Check out <a target="_blank" rel="noopener" href="https://genderkit.org.uk/article/formal-diagnosis/">this resource from the Gender Construction Kit</a> to learn more about getting a formal diagnosis
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="resources-formalDiagnosis">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#resources-collapseFour" aria-expanded="false" aria-controls="resources-collapseFour">
                            Learn more about getting a letter of recommendation for HRT
                        </button>
                    </h2>
                    <div id="resources-collapseFour" class="accordion-collapse collapse" aria-labelledby="resources-formalDiagnosis">
                        <div class="accordion-body">
                            This letter can be obtained from your chosen private healthcare provider, or from a GIC
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="resources-privateService">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#resources-collapseTwo" aria-expanded="false" aria-controls="resources-collapseTwo">
                            Choosing a private healthcare provider
                        </button>
                    </h2>
                    <div id="resources-collapseTwo" class="accordion-collapse collapse"
                        aria-labelledby="resources-privateService">
                        <div class="accordion-body">
                            Check out <a target="_blank" rel="noopener" href="https://genderkit.org.uk/resources/gender-services/">this resource from Gender Construction Kit</a> for guidance on choosing a provider.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}